@font-face {
  font-family: 'Source Serif 4';
  src: local('Source Serif 4'),
    url('../fonts/SourceSerif4-VariableFont_opsz,wght.woff2') format('woff2-variations'),
    url('../fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype-variations')
}

:root {
  --fs: 1.8vw;
  --lh: 2.8vw;
  --wvw: 27vw;
  --hvw: 50vw;
}

body {
  background-color: #001f3f;
  font-family: 'Source Serif 4', serif;
  font-size: var(--fs);
  line-height: var(--lh);
  cursor: none;
}

.set {
  position: relative;
  white-space: pre;
}

.text {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  /* vendorless fallback */
  -o-transition: all 1.5s ease-in-out;
  /* opera */
  -ms-transition: all 1.5s ease-in-out;
  /* IE 10 */
  -moz-transition: all 1.5s ease-in-out;
  /* Firefox */
  -webkit-transition: all 1.5s ease-in-out;
  /*safari and chrome */
}

.text.visible {
  opacity: 1;
}

#byline {
  z-index: 10;
  padding-top: 1vw;
  padding-left: 4vw;
  /*font: lighter 1vw/6vw Arial;*/
  font-size: .8em;
  color: gray;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s ease-in-out 0s;
}

#byline:hover {
  opacity: 1;
}

#byline a {
  color: gray;
  text-decoration: none;
}

#byline a:hover {
  color: lightgray;
}

#bytext {
  vertical-align: top;
}

#display {
  position: relative;
  margin-top: 1em;
  /* 1em */
  margin-left: auto;
  margin-right: auto;
  background-color: #001f3f;
  color: floralwhite;
  cursor: none;
  /*overflow: hidden;*/
  width: 60vw;
  /* This value is calculated in the verseWidth cell, manually *!/*/
  height: var(--hvw);
}

#frame {
  position: relative;
}

.none {
  display: none;
}