/*@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.woff2');
}
*/
@font-face {
  font-family: 'NotoSerif';
  src: local('NotoSerif'),
  url('NotoSerif-Regular.woff2') format('woff2'),
  url('NotoSerif-Regular.woff') format('woff'),
  url('NotoSerif-Regular.ttf') format('ttf')
}

body {
  overflow: hidden;
  margin:  0;
  background-color: black;
  /*border: 1px dashed #ffffff;*/
}

  :root {
    --ffam: NotoSerif, serif, monospace;
    --fsize: 2.3vw;
  }

  #frame {
    position: relative;
    padding: 1vw;
    min-width: 100vw;
    min-height: 50vw;
    background-color: black;
    font-family: var(--ffam);
    font-size: var(--fsize);
    color: floralwhite;
    cursor: none;
    overflow: hidden;
    margin-top: calc((100vh - 50vw) / 3);
  }

  #display {
    position: relative;
    top: 2.2vw;
    left: 40vw;
    min-height: 47.8vw;
    background-color: black;
  }

  pre {
    margin: 0;
    font-family: var(--ffam);
    font-size: var(--fsize);
  }

  img {
    position: absolute;
    top: -2.2vw;
    left: -2.5vw;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    height: 100%;
    width: 55%;
    filter: invert(1);
  }

  img.visible {
    opacity: .4;
  }

  img.colophon {
    opacity: 1;
    height: calc(100% - 2vw);
    width: auto;
    top: 1vw;
    left: 1vw;
  }

  .text {
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  .text.visible {
    opacity: 1;
  }

.none {
  display: none;
}
