<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/x-icon" href="resources/favicon.ico"> -->
    <style type="text/css">
      @import url("observable:styles/index.css");
      @import url("@fontsource-variable/inter/wght.css");
      @import url("@fontsource-variable/inter/wght-italic.css");
      @import url("@fontsource-variable/source-serif-4/wght.css");
      @import url("@fontsource-variable/source-serif-4/wght-italic.css");
      @import url("@fontsource-variable/spline-sans-mono/wght.css");
      @import url("@fontsource-variable/spline-sans-mono/wght-italic.css");
      /* force no margin even in the html tag */
      * {
        margin-top:0 !important;
      }
      /* change this for overall background color */
      html {
        background-color: white;
        margin:0;
        padding:0; /* change this to override template default */
        border:0;
      }
      /* and also this for body properties */
      body {
        background-color: white;
        max-width: none;
        margin:0;
        padding:0;
        border:0;
      }
      main {
        margin: 0;
        padding: 0;
      }
      code {
        color: #015f86;
      }
      /* add more custom styles here */
    </style>
    <!-- <div style="display:none">
      <img src="resources/favicon.ico" alt="favicon"> 
    </div> -->
  </head>
  <body>
    <main></main>
  </body>
</html>