@font-face {
  font-family: 'SourceSerif4';
  src: local('Source Serif 4'),
  url('../fonts/SourceSerif4-VariableFont_opsz,wght.woff2') format('woff2-variations'),
  url('../fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype-variations')
}

@font-face {
  font-family: 'SourceSerif4-Italic';
  src: 
  url('../fonts/SourceSerif4-Italic-VariableFont_opsz,wght.woff2') format('woff2-variations'),
  url('../fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations')
}

/*@font-face {
  font-family: 'NotoSerif';
  src: local('Noto Serif'),
  url('../fonts/NotoSerif-Regular.woff2') format('woff2'),
  url('../fonts/NotoSerif-Regular.woff') format('woff'),
  url('../fonts/NotoSerif-Regular.ttf') format('ttf')
}*/

@font-face {
  font-family: 'NotoSans';
  src: local('Noto Sans'),
  url('../fonts/NotoSans-Regular.woff2') format('woff2'),
  url('../fonts/NotoSans-Regular.woff') format('woff'),
  url('../fonts/NotoSans-Regular.ttf') format('ttf')
}

body {
  max-width: 60vw;
  margin-top: 1em auto;
  margin-left: 5vw;
  padding: 0 1em;
  font-family: "SourceSerif4", serif;
}

a {
  color: #4682b4;
}

a:visited {
  color: #4682b4;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

a:link:not(:hover) {
  text-decoration: none;
}

cite {
  font-family: SourceSerif4-Italic;
}

em {
  font-family: SourceSerif4-Italic;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-weight: 600;
}

i {
  font-family: SourceSerif4-Italic;
}

#nbparent h3 {
  font-family: 'NotoSans', sans-serif;
  letter-spacing: .1rem;
}

#nbparent h4 {
  font-family: 'NotoSans', sans-serif;
  letter-spacing: .1rem;
}

#nbparent table {
  font-family: 'NotoSans', sans-serif;
  text-align: left;
}

#nbparent td {
  padding: .5rem;
}