@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  background-color: #000;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

.shimmer {
  position: relative;
  min-width: 960px;
  max-width: 960px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  /*min-height: 680px;*/
  /*border: 1px dashed #ff0000;*/
}

.mono {
  color: rgba(255,255,255,255);
  font-family: 'AndaleMono', monospace;
  font-size: 44px;
 }

.trans { color:transparent; }
