@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  background-color: #000;
  cursor: none;
}

.shimmer {
  position: relative;
  min-height: 680px;
  min-width: 1280px;
  /*padding-top: 60px;
  padding-left: 300px;
  border: 1px dashed #ffffff;*/
}

.mono {
  color: rgba(255,255,255,255);
  font-family: 'AndaleMono', monospace;
  font-size: 64px;
 }

.trans { color:transparent; }
