@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  background-color: #000;
  cursor: none;
  min-width: 1024;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

.shimmer {
  position: relative;
  min-height: 680px;
  width: 960px;
  text-align: center;
  margin-top: 80px;
  margin-left: 120px;
  /*border: 1px dashed #ff0000;*/
}

.mono {
  color: rgba(255,255,255,255);
  font-family: 'AndaleMono', monospace;
  font-size: 44px;
 }

.trans { color:transparent; }
