@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  cursor: none;
}

span {
  transition: text-shadow 1s ease; /* -in-out */
}

#frame {
  position: absolute;
  min-width:  140vw;
  left: 50%;
  margin-right: -50%;
  transform: translate(-51%);
  border: none;
  padding:  none;
  overflow: hidden;
}

#display {
  min-width:  140vw;
  margin-left:  -51%;
  margin-right: -49%;
  min-height: calc(100vw * 9 / 16);
  background-color: #00ffff; /* light sky blue: #e1f8fa */
  color: #000000;
  opacity: 1;
  font-family: 'AndaleMono', monospace;
  font-size: 2.5vw;
  white-space: break-spaces;
  text-align: center;
  border: none;
  padding: none;
  overflow: hidden;
}

.none {
  display: none;
}
