@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.woff2') format('woff2'),
       url('AndaleMono.woff') format('woff'),
       url('AndaleMono.ttf')  format('truetype');
}

body {
  background-color: #001122;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

span {
  -webkit-transition: text-shadow 1s ease; /* -in-out */
  -moz-transition: text-shadow 1s ease; /* -in-out */
  -ms-transition: text-shadow 1s ease; /* -in-out */
  -o-transition: text-shadow 1s ease; /* -in-out */
  transition: text-shadow 1s ease; /* -in-out */
}

#frame {
  font-family: 'AndaleMono', monospace;
  font-size: 2.5vw;
	line-height: 1.15em;
  position: fixed;
	left: 0px;
  top: 0px;
	margin-top: 2.5vw;
	min-width: 100vw;
	min-height: calc(1.2em * 19);
  overflow: hidden;
	border: none; /*1px dotted #ff0000;*/
	padding: none;
	margin: none;
}

#display {
	position: absolute;
	left: 37%;
  min-width:  110vw;
  margin-left:  -50%;
  margin-right: -50%;
  height: calc(1.2em * 19); /*101vw * (9 / 16)*/
  background-color: #00eeff; /* light sky blue: #e1f8fa */
  color: #09344e;
  opacity: 1;
  white-space: break-spaces;
  text-align: center;
  border: none;
  padding-top: .5vw;
  overflow: hidden;
  -webkit-transition: opacity 5s ease; /* -in-out */
  -moz-transition: opacity 5s ease; /* -in-out */
  -ms-transition: opacity 5s ease; /* -in-out */
  -o-transition: opacity 5s ease; /* -in-out */
  transition: opacity 5s ease; /* -in-out */
}

#underlay {
  position: absolute;
  z-index: -1;
  max-height: 17em;
  /* background-color: #00ffff;  light sky blue: #e1f8fa */
  /* color: #000000; */
}

.trans { color:transparent; }

.none {
  display: none;
}
