@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  background-color: #001122;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

span {
  transition: text-shadow 1s ease; /* -in-out */
}

#frame {
  position: relative;
  margin-left: -51.5%;
  margin-right: -48.5%;
  overflow: hidden;
}

#display {
  min-width:  140vw;
  margin-left:  -49%;
  margin-right: -51%;
  height: calc(100vw * (9 / 16));
  background-color: #00ffff; /* light sky blue: #e1f8fa */
  color: #000000;
  opacity: 1;
  transition: opacity 3s ease; /* -in-out */
  font-family: 'AndaleMono', monospace;
  font-size: 2.5vw;
  white-space: break-spaces;
  text-align: center;
  border: none;
  padding-top: 1vw;
  overflow: hidden;
}

#underlay {
  position: absolute;
  z-index: -1;
  max-height: 17em;
  /* background-color: #00ffff;  light sky blue: #e1f8fa */
  /* color: #000000; */
}

.trans { color:transparent; }

.none {
  display: none;
}
