@font-face {
  font-family: 'CenturySchoolbook';
  src: local('Century Schoolbook'),
  url('../fonts/CenturySchoolbook.woff2') format('woff2'),
  url('../fonts/CenturySchoolbook.woff') format('woff'),
  url('../fonts/CenturySchoolbook.ttf') format('ttf')
}

/*body {
  font: 1.8vw CenturySchoolbook, serif;
  color: black;
  margin: 5vw 15vw;
}*/

/* h2 {
	font-size: 100%;
	margin-top: .4vw;
	margin-bottom: 1.6vw;
	letter-spacing: .3em;
	border-bottom: 1px dotted #7f7f7f;
	color: #666;
} */

#display {
  font: 3vw/1.4 CenturySchoolbook, serif;
  color: black; /* orange is good for debugging */
  font-variant-ligatures: no-common-ligatures;
  margin: 5vw 1vw;
}

#display p {
	font-size: 1.5vw;
	line-height: 1.4;
	margin-top: .5vw;
	margin-bottom: 1.5vw;
}

#display em {
  font-style: normal;
  /* font-weight: bold; */
  color: black; /* darkred is good for debugging with orange */
}

#supplytext {
  display: none;
}

.fade { 
  cursor: pointer;
  transition: color .7s ease-in-out; /* vendorless fallback */
  -o-transition: color .7s ease-in-out; /* opera */
  -ms-transition: color .7s ease-in-out; /* IE 10 */
  -moz-transition: color .7s ease-in-out; /* Firefox */
  -webkit-transition: color .7s ease-in-out; /*safari and chrome */
}

.fade:hover {
  color: lightblue;
}