@font-face {
  font-family: 'SourceCodeProEL';
  src: local('SourceCodePro-ExtraLight'),
  url('../fonts/SourceCodePro-ExtraLight.woff2') format('woff2'),
  url('../fonts/SourceCodePro-ExtraLight.woff') format('woff'),
  url('../fonts/SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'AndaleMono';
  src: local('Andale Mono'),
  url('../fonts/AndaleMono.woff2') format('woff2'),
  url('../fonts/AndaleMono.woff') format('woff'),
  url('../fonts/AndaleMono.ttf') format('truetype');
}

body {
  background-color: white; /*#000044;*/
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

span {
	z-index: 20;
}

#frame {
  background-color: White;
  font-family: 'SourceCodeProEL', AndaleMono, Courier, monospace;
  font-size: 14vw;
	line-height: 16vw;
  position: fixed; /* USE fixed FOR WEB APP VERSION */
	min-width: 100vw;
	min-height: 32vw;
	border: none;
	padding: none;
	margin: none;
  overflow: hidden;
}

#display {
	position: absolute;
  height: 32vw;
	min-width: 100vw;
  letter-spacing: .5ch;
  text-align: center;
  border: none;
  padding-top: 7vw;
  overflow: hidden;
  color: white;
  /* text-shadow: 0 0 .25ch ${shadowColor}; */
  /* transition: text-shadow ${period}s ease-in-out; */
}

.bug {
  animation-name: bug;
  animation-duration: .175s;
  animation-iteration-count: infinite;
}

.fadeInOut {
  animation-name: shadowInOut, bug;
  animation-duration: .175s;
  animation-timeing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bug {
  from {
    z-index: 9;
  }

  to {
    z-index: 10;
  }
}

@keyframes shadowInOut {
  from {
    text-shadow: 0 0 0 white;
  }

  to {
    text-shadow: 0 0 1ch DarkRed;
  }
}

.trans { color:transparent; }

.none {
  display: none;
}
