@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  background-color: #000;
  cursor: none;
  overdlow: hidden;
}

.sifther {
  position: relative;
  max-width: 1024px;
  min-height: 720px;
  padding-bottom: 20px;
  /*padding-top: 60px;*/
  /*padding-left: 300px;*/
  /*border: 1px dashed #ffffff;*/
}

.mono {
  font-family: 'AndaleMono', monospace;
  white-space: pre;
  font-size: 128px;
  font-size: 9vw;
 }

.overlaid {
  position: absolute;
  white-space: pre;
}

.regular {font: 36px 'Minion Pro';}

.text {
  color: rgba(255,255,255,0);
  transition: color 1.5s ease-in-out;
}

.text.visible {
  color: rgba(255,255,255,255);
    /* starts readable */
}

.w0 {
  position: absolute;
  top: 20px;
  left: 220px;
  top: 3vh;
  left: 18vw;
}

.w1 {
  position: absolute;
  top: 180px;
  left: 220px;
  top: 25vh;
  left: 18vw;
}

.w2 {
  position: absolute;
  top: 340px;
  left: 220px;
  top: 50vh;
  left: 18vw;
}

.w3 {
  position: absolute;
  top: 500px;
  left: 220px;
  top: 75vh;
  left: 18vw;
}

.trans { color:transparent; }
