@font-face {
  font-family: 'AndaleMono';
  src: url('AndaleMono.ttf');
}

body {
  background-color: #000;
}

div.sifther {
  min-height: 90px;
  min-width: 1280px;
  padding-top: 120px;
  padding-left: 20px;
  border: 1px dashed #ffffff;
}

.mono {
  font-family: 'AndaleMono', monospace;
  font-size: 64px;
 }

.overlaid {
  position: absolute;
  white-space: pre;
}

.regular {font: 36px 'Minion Pro';}

.text {
  color: rgba(255,255,255,0);
  transition: color 1.5s ease-in-out;
}

.text.visible {
  color: rgba(255,255,255,255);
    /* starts readable */
}

.ticker07 { color:transparent; }
