@font-face {
    font-family: 'Garamond';
    src: url('fonts/Garamond.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/Garamond Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/Garamond Italic.ttf');
    font-style: italic;
}

body {
  background-color: white;
  color:#013;
  font-family: "Garamond", Georgia, "Times New Roman";
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
span {
  white-space:pre-line;
}
p {
  margin-top:0px;
  width: auto;
}

#getTextWidth {
   position: absolute;
   visibility: hidden;
   height: auto;
   width: auto;
   white-space: pre; /* Thanks to Herb Caudill comment */
}

/* Menu Style */
.menu {
  margin: 60px 0 20px 80px;
  font-size: 20px;
  position:absolute;
  top:0;
}
.menu > div {
  float:left;
}
.menu .button {
  padding:5px 5px;
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: white;
  margin-left: 0px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected, .menu .button{
  color: #333;
  padding: 3px 5px;
  width: 24px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.select-items div{
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected, .select-selected:hover,.menu .button:hover{
  background-color: rgba(0, 0, 0, 0.07);
}
.menu ul li {
  display: inline-block;
  padding:0px 20px;
}
.menu ul li:hover{
  color:red;
}
.menu li.current {
  color:red;
}
.menu .hide {
  display: none !important;
}
/* End of Menu Style */

.page, .adiv, .bdiv, [id^="overlay"]{
  width:100%;
}
.adiv, .bdiv, [id^="overlay"]{
  position:absolute;
  top: 0;
  left: 0;
  padding:0;
}
#content{
  position: relative;
}
.page {
  position:inherit;
  display:none;
}
.page.current {
  display:block;
}
.adiv{
  z-index: 2;
}
.bdiv {
  z-index:1;
}
.bdiv .unit {
  opacity: 0;
}
.adiv .unit {
  opacity: 1;

}
.verse {
  margin:auto;
  width:fit-content;
  width:-moz-fit-content;
}

#beforeAnchorB {
  text-align: left !important;
}
#overlay {
  opacity:0;
}
#beforeAnchorA, #afterAnchorA{
  opacity: 0;
}
#afterAnchorB {
  position:absolute;
}

#beforeAnchorB span{
  white-space: nowrap;
}

/* TODO: may be temporary, for VIA progression */
div#vianext {
	cursor: pointer;
	position: fixed;
	bottom: 80px;
	right: 80px;
}

/* Animation related CSS */
.active .shared{
  cursor: pointer;
}

.signature {
  font-family: 'Courier New', monospace;
}
