@font-face {
  font-family: 'AndaleMono';
  src: local('Andale Mono'),
  url('../fonts/AndaleMono.woff2') format('woff2'),
  url('../fonts/AndaleMono.woff') format('woff'),
  url('../fonts/AndaleMono.ttf') format('truetype');
}

html {
  font-family: 'AndaleMono', monospace;
  font-size: 5.1vw;
  }

body {
  background-color: floralwhite; /*#000044;*/
  margin: .5vw auto;
  /*cursor: none;*/
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

code {
  font-family: 'AndaleMono', monospace;
}

div {
  clear: left
}

span.bd {
  white-space: pre-wrap;
  border: .25vw inset;
  float: left;
  width: 1.05ch; 
  text-align: center; 
  margin-bottom: .25em;
  margin-right: 0.07ch;
}

.code {
  font-family: 'AndaleMono', monospace;
  line-height: 1.3em;
}

.container {
	width: 89vw;
	height: 47.5vw;
	border: none; /*1px dotted lightgray;*/
	padding: 5vw;
	margin: auto;
  overflow: hidden;
}

.trans { color:transparent; }

.none {
  display: none;
}
